body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home {
  album: pointer;
}

.album_cover {
  cursor: pointer;
  height: 250px;
  width: 250px;
}
a{
  margin-right: 10px;
}

.album_box {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin:2%;
}