body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home {
  album: pointer;
}

.album_cover {
  cursor: pointer;
  height: 250px;
  width: 250px;
  border: 1px solid black;
}
a{
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

/*.album_box {*/
  /*display: inline-block;*/
  /*width: 200px;*/
  /*height: 100px;*/
  /*margin:2%;*/
/*}*/

.album-mainpage{
  display:  flex;
  margin: 0 auto;
  width: 900px;
  max-width: 900px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
  .album-mainpage{
    width: 600px;
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px){
  .album-mainpage{
    width: 300px;
    max-width: 300px;
  }
}

.navigation{
  height: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #74E600;
  vertical-align:middle
}

.loginbox{
  margin-right: auto;
}